.chat-box
  .side-hedder
    .box
      .box__name Yuta
      %ul.box__menu
        %li.box__menu__menu-1
          = link_to "#", class: "menu__btn" do
            = icon('far', 'edit')
        %li.box__menu__menu-2
          = link_to "#", class: "menu__btn" do
            = icon('fa', 'cog')


  .group-list
    .list
      %ul.group
        %li.group__name techcamp
        %li.group__message まだメッセージがありません
      %ul.group
        %li.group__name techcamp
        %li.group__message まだメッセージがありません
      %ul.group
        %li.group__name techcamp
        %li.group__message まだメッセージがありません